body{
    background: #777777;
}

.UserInterface{
    margin: auto;
    width: 95%;
    height: 900px;

}

#divLeft{
    background-color: #d5d4d4;
    float:left;
    width: 70%;
    height: 900px;
    font-size: 17px;
    overflow: scroll;
    overflow-x: hidden;

}

#divLeft textarea{
    width: 100%;
    height: 100%;
    resize: none;

}

#divRight{
    background-color: #444444;
    width:25%;
    margin: 0 auto;
    float:left;
    margin-left:2%;
    height: 900px;
}


.TextArea{
    background: #3b3b3b;
    padding: 14px 16px;
    min-height: 15em;
    color: white;
}
.submitButton{
    margin-top: 10px;
}

