#SidebarHeading{
    text-align: center;
    padding: -20px 0;
    margin-left: 0px;
    vertical-align: middle;
    color: white;
}

#RecentPastes{
    padding: -20px 0;
    margin-left: 0px;
    vertical-align: middle;
    color: white;
}

#RecentPastes li{
    padding-bottom: 15%;
}

.div{
    background-color: #444444;
    width:25%;
    margin: 0 auto;
    float:left;
    margin-left:2%;
    height: 900px;
}